body {
    background: #e8e8e8;
}

.login {
    max-width: 350px;
    margin: 0 auto;
    border-radius: 3px;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.2);

}